.spacePostcard{
    width:500px;
    height: 350px; 
    background: white;
    margin: auto;
    margin-top: 150px;
}
body{
    background: black;
}

.imagen1{
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
.imagen1>img{
    width: 5rem;
    height: auto;
    padding-top: 14px;
    padding-right: 14px;
}
.imagen1>h1{
    padding-left: 13px;
    padding-top: 16px;
    font-size: 38px;
}
.line{
    display: flex;
    margin: 7px;
}
footer {
    display: flex;
    justify-content: center;
}
 .color{
     background-color: gray
